<nav>
  <% if(user) { %>
    <div id ="logged" >
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">All Shoes</a></li>
        <li role="presentation"><a href="/new">New Shoe</a></li>
        <li role="presentation"><a href="/users/shoeRack">Shoerack</a></li>
        <li role="presentation">
          <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Logout">
          </form>
        </li>
      </ul>
    </div>
  <% } else { %>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/sessions/new">Login</a></li>
      <li role="presentation"><a href="/users/new">Register</a></li>
    </ul>
  <% } %>
</nav>
<p id  = "welcome">Welcome <%= user.first_name %></p>

