*{
  font: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
}

h1, h3 {
  font-family: 'Bree Serif', serif;
}

img{
  height:200px;
  width:200px;
}

label{
  margin-left: 20px;
}
.glyphicon glyphicon-thumbs-up{
  content:"\e125";
}
.glyphicon glyphicon-thumbs-down{
  content:"\e126";
}
#shoe{
  margin-left: 40%
}
.container{
  margin-top: 50px;
}
form{
  max-width:80%;
  margin-left:20px;
}
#logged > form{
  display: inline-block;
}
nav{
   background-color: #EEEEEE;
   margin-top: 140px;
   display: inline-block;
}
nav > div > a{
  margin-right: 10px;
  background-color: black;
}

nav > div > ul > li > form  > input {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     margin-top: 10px;
     color: #577AB7;
}
.jumbotron {
  margin-top: -210px;
}

#messages{
  background-color: #EEEEEE;
}

#welcome{
  margin-top: 15px;
  margin-left: 5px;
}



