img{
  height:200px;
  width:200px;
}

label{
  margin-left: 20px;
}
.glyphicon glyphicon-thumbs-up{
  content:"\e125";
}
.glyphicon glyphicon-thumbs-down{
  content:"\e126";
}
#shoe{
  margin-left: 40%
}

form{
  max-width:80%;
  margin-left:20px;
}
#logged > form{
  display: inline-block;
  background-color: #fff;

}
